---
layout: "wrapper"
author: "Sun Jiong"
---
<!--
{% if page.title == "My First Post" %}

    This is the first post
{% elsif page.title == "My Second Post"%}

    This is the second post
{% else %}

  This is another post
{% endif %}

<h1>{{ page.title }}</h1>
<h3>{{ page.author }}</h3> -- put the author of the current page in priority
-->


{% for post in site.posts %}

  <li><a style= "{% if post.url== post.url %} color:red {% endif %}" href="{{ post.url }}">{{ post.title }}</a></li>

{% endfor %}

<h2>{{ layout.author }}</h2>

<hr>

  {{ content }}
